.pointer-constructor {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__buttons-wrapper {
    display: flex;
    gap: 16px;
    align-self: end;
  }

  &__constructor {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    &-canvas,
    &-visualize,
    &-params,
    &-legend {
      border: 2px solid #ccc;
      border-radius: 12px;
      background-color: white;
      min-height: 200px;
      padding: 24px;
    }

    &-canvas,
    &-params {
      flex: 0 0 calc(55% - 10px);
    }
    &-visualize,
    &-legend {
      flex: 0 0 calc(45% - 10px);
    }
  }

  &__visual-buttons {
    display: flex;
    flex-direction: row;
  }

  &__param-title {
    margin-right: 8px;
    font-size: 24px;
    font-weight: bold;
    width: 5em;
    white-space: nowrap;
  }

  &__params-title,
  &__legend-title {
    margin-bottom: 12px;
  }

  &__legend {
    margin-top: 24px;
  }

  &__param-items-row {
    display: flex;
  }

  &__param-item {
    margin-top: 12px;
    display: flex;
    align-items: center;
    width: 25em;
  }

  &__param-value {
    display: flex;
    align-items: center;
    font-size: 24px;
    > input[type="text"] {
      height: 40px;
      border-radius: 16px;
      margin-right: 8px;
      padding-left: 12px;
      border: 1px solid black;
    }
    &-text {
      width: 400px;
    }
    &-size {
      width: 80px;
    }
    &-title,
    &-color {
      margin-left: 8px;
    }
    &-title {
      margin-right: 8px;
    }
    &-fz {
      width: 80px;
    }
  }

  &__param-delete {
    cursor: pointer;
  }
}
