.button {
  padding: 0 20px;
  height: 40px;
  font-size: 20px;
  background-color: #0072c6;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #005a9e;
    transition: all 0.3s linear;
  }

	&[disabled] {
    cursor: no-drop;
		background-color: #bcc5c7;
  }
}
