.pointers-registry {
  &__content {
    display: flex;
    padding: 24px;
  }

  &__pointers-list {
    width: 600px;
  }

  &__pointer-item {
		display: flex;
		align-items: center;
    padding: 24px;
		border-radius: 20px;
		cursor: pointer;

		&:hover {
			background-color: #c0c0c0;
			transition: all .3s linear;
		}

		&_active {
      background-color: #0072c6;
      color: white;
    }
  }

	&__pointer-icon {
		> img {
			max-height: 120px;
			max-width: 160px;
		}
	}

	&__pointer-title {
		margin-left: 32px;
    font-size: 20px;
	}
	

  &__pointers-button {
		margin-top: 32px;
    margin-left: 200px;
		padding: 0 60px;
    height: 60px;
    font-size: 20px;
		background-color: #0072c6;
    color: white;
    border: none;
		cursor: pointer;

		&:hover {
			background-color: #005a9e;
			transition: all .3s linear;
		}
  }
}
